* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url(img/100.jpg);
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.pai-maior {
   font-size: 30px;
   cursor: pointer;
   margin-top: 10px;
   margin-left: 20px;
}

.pai {
    display: fle;
}


ul {
    display: flex;
    color: white;
    gap: 10px;
    flex-direction: column;
    margin-left: 450px;
    cursor: pointer;
    list-style-type: none;
    margin-top: 10px;
}

.logo2 {
    display: flex;
    margin-left: 160px;
}

button {
    height: 27px;
    width: 127px;
    background-color: rgb(48, 122, 47);
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    
  }


  i {
    color: rgb(49, 126, 54);
  }

  a {
    color: rgb(15, 16, 16);
  }

  p {
    margin-left: 10px;
  }
  
  .foto {
    color: rgb(70, 105, 77);
    margin-top: 510px;
    font-size: 18px;
  }
  

  

